{{ define "phone.html" }}
<!DOCTYPE html>
<html>
	<head>
		<title>{{ .title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link rel="apple-touch-icon" href="/static/images/lights.png"/>

        <link href="/static/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
        <div class="container">
            <h1>Lights</h1>
        </div>
        <div class="container">
			<div class="row p-2">
            
                    <div class="dropdown">
                        <button class="btn-lg btn-secondary btn-block dropdown-toggle" type="button" id="zone" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Zone
                        </button>
                        <div class="dropdown-menu" aria-labelledby="zone">
                            <button type="button" class="group dropdown-item" data-group="all">All</button>
                            <button type="button" class="group dropdown-item" data-group="kitchen">Kitchen</button>
                            <button type="button" class="group dropdown-item" data-group="living-room">Living Room</button>
                            <button type="button" class="group dropdown-item" data-group="hallway">Hallway</button>
                            <button type="button" class="group dropdown-item" data-group="master-bedroom">Master Bedroom</button>
                        </div>
                    </div>
            
            </div>

            <div class="row p-2">
				<button type="button" class="color btn-lg btn-success btn-lrg btn-block" data-color="on">ON</button>
				<button type="button" class="color btn-lg btn-danger btn-lrg btn-block" data-color="off">OFF</button>
            </div>

            <div class="row p-2">
				<button type="button" class="color btn-lg btn-outline-primary btn-block" data-color="candle-light">Candle Light</button>
				<button type="button" class="color btn-lg btn-outline-primary btn-block" data-color="relax">Relax</button>
				<button type="button" class="color btn-lg btn-outline-primary btn-block" data-color="reading">Reading</button>
				<button type="button" class="color btn-lg btn-outline-primary btn-block" data-color="concentrate">Concentrate</button>
				<button type="button" class="color btn-lg btn-outline-primary btn-block" data-color="energize">Energize</button>
            </div>

            <div class="row p-2">
				<button type="button" class="color btn-lg btn-outline-info btn-block" data-color="red">Red</button>
				<button type="button" class="color btn-lg btn-outline-info btn-block" data-color="movie-mode">Movie Mode</button>
				<button type="button" class="color btn-lg btn-outline-info btn-block" data-color="deep-sea">Deep Sea</button>
				<button type="button" class="color btn-lg btn-outline-info btn-block" data-color="blue">Blue</button>
				<button type="button" class="color btn-lg btn-outline-info btn-block" data-color="virgin-america">Virgin America</button>
            </div>
            
		</div>
        <script src="/static/jquery/1.11.0.js"></script>
        <script src="/static/popper/popper.min.js"></script>
        <script src="/static/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
			var SELECTED_GROUP = "";
			var SELECTED_COLOR = "";

			function select_group(node) {
				$("#zone").text(node.text());
				SELECTED_GROUP = node.data("group");
			}

			function select_color(node) {
				$(".color").each(function(index) {
                    if ($(this).hasClass("btn-primary")) {
                        $(this).removeClass("btn-primary").addClass("btn-outline-primary");
                    } else if ($(this).hasClass("btn-info")) {
                        $(this).removeClass("btn-info").addClass("btn-outline-info");
                    }
                });
                if (node.hasClass('btn-outline-primary')) {
                    node.removeClass("btn-outline-primary").addClass("btn-primary");
                } else if (node.hasClass('btn-outline-info')) {
                    node.removeClass("btn-outline-info").addClass("btn-info");
                }
				SELECTED_COLOR = node.data("color");
				change_color();
			}
			
			function change_color() {
				if(SELECTED_GROUP != "" && SELECTED_COLOR != "") {
					var url = "/api/1/group?name=" + SELECTED_GROUP + "&state=" + SELECTED_COLOR;
					$.get(url);
				}
			}

			$(document).ready(function(){
				$(".group").click(function(){
					select_group($(this));
				});

				$(".color").click(function(){
					select_color($(this));
				});
			});
		</script>
	</body>
</html>
{{ end }}